*{padding:0;margin:0; font-family: 'Malang-Regular';}
li{list-style:none}
a{text-decoration:none;font-size:14px}
.menu {
  width: 1200px;
  overflow: hidden;
  margin: 50px auto;}
.menu > li {
  width: 20%; /*20*5=100%*/
  float: left;
  text-align: center;
  line-height: 40px;
  background-color: #5778ff;}
.menu a {
  color: #fff;}
.submenu > li {
  line-height: 50px;
  background-color: #94a9ff;}
.submenu {
  height: 0; /*ul의 높이를 안보이게 처리*/
  overflow: hidden;}
.menu > li:hover {
  background-color: #94a9ff;
  transition-duration: 0.5s;}
.menu > li:hover .submenu {
  height: 250px; /*서브메뉴 li한개의 높이 50*5*/
  transition-duration: 1s;}
  .list{
    width:750px;
    margin-left:0px;
    margin-top:0px;
    border-bottom: 1px solid #BBB9B9;
  }
  @font-face {
    src: url("./font/HancomMalangMalang-Regular.ttf");
    font-family: "Malang-Regular";
  }
  @font-face {
    font-family: 'BBTreeGR';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_nine_@1.1/BBTreeGR.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  
  a.jcm-top {
    position: fixed;
    right: 1%;
    bottom: 5%;
    text-align: center;
    width: 4%;
    height: 5%;
    z-index: 999;
    display: none; 
  }

  .notice{
    width: 80%;
    margin: auto;
  }
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }

  .page-title {
    margin-bottom: 30px;
  }
  .page-title h3 {
    font-size: 28px;
    color: #333333;
    font-weight: 400;
    text-align: center;
  }
  
  .board-table {
    font-size: 13px;
    width: 100%;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
  }
  
  .board-table a {
    color: #333;
    display: inline-block;
    line-height: 1.4;
    word-break: break-all;
    vertical-align: middle;
  }
  .board-table a:hover {
    text-decoration: underline;
  }
  .board-table th {
    text-align: center;
  }
  
  .board-table .th-num {
    width: 100px;
    text-align: center;
  }
  
  .board-table .th-date {
    width: 200px;
  }
  
  .board-table th, .board-table td {
    padding: 14px 0;
  }
  
  .board-table tbody td {
    border-top: 1px solid #e7e7e7;
    text-align: center;
  }
  
  .board-table tbody th {
    padding-left: 28px;
    padding-right: 14px;
    border-top: 1px solid #e7e7e7;
    text-align: left;
  }
  
  .board-table tbody th p{
    display: none;
  }

  /* 모바일 */
  @media (max-width: 991.98px){
    .container-fluid{
      position: relative;
      bottom: 45px;
      margin: auto;
    }
  
    .under-nav .nav{
      width: 90%;
    }
  
    .nav .nav-item{
      margin: auto;
      padding: 0%;
    }
  
    #board_area{
      width: 100%;
    }
  
    h1{
      font-size: 4vw;
      font-weight: bold;
      padding-bottom: 7px;
    }
  
    #pedia-what p{
      font-size: 3vw;
    }

  } 
  
  @media (min-width: 2550px){
    #board_area{
      height: 725px;
    }

  }
