 body{
  padding: 00px;
 } 
footer{
  width: auto;
}
*{padding:0;margin:0}
li{list-style:none}
a{text-decoration:none;font-size:14px}
.menu {
  width: 65%;
  overflow: hidden;
  margin: 30px auto;}
.menu > li {
  width: 20%; /*20*5=100%*/
  float: left;
  text-align: center;
  line-height: 40px;
  background-color: #5778ff;}
.menu a {
  color: #fff;}
.submenu > li {
  line-height: 50px;
  background-color: #94a9ff;}
.submenu {
  height: 0; /*ul의 높이를 안보이게 처리*/
  overflow: hidden;}
.menu > li:hover {
  background-color: #94a9ff;
  transition-duration: 0.5s;}
.menu > li:hover .submenu {
  height: 250px; /*서브메뉴 li한개의 높이 50*5*/
  transition-duration: 1s;}
#img1 {
  width: 250px;
}
#container {
  display: flex;
  margin-left:auto;
  margin-right:auto;
  justify-content: center;
  width: 70%;
  align-items: center;
}
#c2 {
  display: flex;
  justify-content: space-between;
}

#c3{
  display: flex;
  justify-content: space-evenly;
}

#c4{
  display: flex;
  justify-content: space-evenly;
}

#c5{
  display: flex;
  flex-direction: column ;
  align-items: center;
}
#c6{
  display: flex;
  justify-content: space-evenly;
}

#c7{
  display: flex;
  justify-content: space-evenly;
}

#c8{
  display: flex;
  justify-content: space-evenly;
}

#c9{
  display: flex;
  justify-content: space-evenly;
}

#c10{
  display: flex;
  justify-content: space-evenly;
}
#menubar{
  margin-left:18%;
  font-size:15px;
}

#main{
  width: 80%;
  margin-left:18%;
  margin-right:auto;
  display: flex;
  justify-content: space-between;
}

article{

  width: 80%;
}


aside {
  width: 80%;
}

#box1 {
  margin-left:5%;
  width: 30%;
}

#box2 {
  margin-left:5%;
  width: 90%;
}
#box3 {
  margin-left:0;
  width: 20%;
}
button {
  margin: 0;
  padding: 0.5rem 1rem;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  width: auto;
  border: none;
  border-radius: 4px;
  background-color: rgb(147, 198, 243);
  position: right;
}
a {
  text-decoration-line: none;
}
#f1{
  width: 110px;
  height: 70px;
}
#f2{
  width: 110px;
  height: 70px;
}
#f3{
  width: 110px;
  height: 70px;
}
#f4{
  width: 110px;
  height: 70px;
}
#f5{
  width: 110px;
  height: 70px;
}
#t1{
  width: 70%;
}
#t2{
  width: 70%;
}
#t3{
  width: 70%;
}
#m1{
  width: 140px;
}
#m2{
  width: 140px;
}
#u1{
  width: 120px;
  height: 120px;
}
#u2{
  width: 120px;
  height: 120px
}
#u3{
  width: 120px;
  height: 120px;
}
#u4{
  width: 120px;
  height: 120px
}
