#logo{
  display:inline-block;
  margin-left:34%;
}
#top{
  margin-left:10%;
}
*{padding:0;margin:0}
li{list-style:none}
#atag{text-decoration:none;font-size:14px; color: rgb(0, 6, 6);}
.menu {
  width: 90%;
  overflow: hidden;
  margin: 30px auto;}
.menu > li {
  width: 20%; /*20*5=100%*/
  float: left;
  text-align: center;
  line-height: 40px;
  background-color: #5778ff;}
.menu a {
  text-decoration: none;
  color: rgb(251, 247, 247);}
.submenu > li {
  line-height: 50px;
  background-color: #94a9ff;}
.submenu {
  height: 0; /*ul의 높이를 안보이게 처리*/
  overflow: hidden;}
.menu > li:hover {
  background-color: #94a9ff;
  transition-duration: 0.5s;}
.menu > li:hover .submenu {
  height: 250px; /*서브메뉴 li한개의 높이 50*5*/
  transition-duration: 1s;}

#title{
  margin-left:15%;
  font-size:22px;
}
#menubar{
  margin-left: 15%;
  margin-right: 5%;
}
#container {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin-left:15%;  
  margin-right:15%;
  height: 270px;
  border-color: #74a3ee;
  border-width: thick;
  border-style: solid;
}

#box1 {
  width: 100%;

}

#box2 {
  width: 300px;
  background-color: #eef1f6;

  
}
#inbox1{
  width: 650px;
  display: flex;
  justify-content: space-between;
  
}

#smallbox1{
  width: 500px;
}
#smallbox2{
  width: 400px; 

}
#ig1 {
  width: 300px;
  padding: 5px;
  height: 230px;
}

#ig2 {
  width: 180px;
  height: 180px;
  display: block;
  margin: auto;
}
#box4{
  width: 1100px;
  height: 200px;
  display: flex;
  justify-content: space-between;
  
}

#inbox3{
  width: 200px;
  height: 200px;
  

}
#inbox4{
  width: 1000px;
  height: 200px;
  margin-left:5%;
  
}
input {
  display: none;}

label {
display: inline-block;
margin: 0 0 -1px;
padding: 15px 25px;
font-weight: 600;
text-align: center;
color: rgb(8, 8, 8);
border-bottom: 1px solid #2e9cdf;

}

label:hover {
color: #2e9cdf;
cursor: pointer;}

input:checked + label {
  color: rgb(10, 10, 10);
  border: 1px solid #ddd;
  border-top: 2px solid #2e9cdf;
  border-bottom: 1px solid #ffffff;}

#tab1:checked ~ #content1,
#tab2:checked ~ #content2,
#tab3:checked ~ #content3,
#tab4:checked ~ #content4 {
display: block;}

.main {
  margin-left:15%;
  margin-right:5%;
}

article {
  display: none;
  padding: 20px 0 0;
  }
