*{padding:0;margin:0}
li{list-style:none}
a{text-decoration:none;font-size:14px}
.menu {
  width: 1200px;
  overflow: hidden;
  margin: 50px auto;}
.menu > li {
  width: 20%; /*20*5=100%*/
  float: left;
  text-align: center;
  line-height: 40px;
  background-color: #5778ff;}
.menu a {
  color: #fff;}
.submenu > li {
  line-height: 50px;
  background-color: #94a9ff;}
.submenu {
  height: 0; /*ul의 높이를 안보이게 처리*/
  overflow: hidden;}
.menu > li:hover {
  background-color: #94a9ff;
  transition-duration: 0.5s;}
.menu > li:hover .submenu {
  height: 250px; /*서브메뉴 li한개의 높이 50*5*/
  transition-duration: 1s;}
  .list{
    width:750px;
    margin-left:0px;
    margin-top:0px;
    border-bottom: 1px solid #BBB9B9;
  }
.img {float:left;display:block;width:29.67%;max-width:328px;height:200px;padding-left:28px;box-sizing:border-box;-webkit-box-sizing:border-box;overflow:hidden;}
.text {display:inline-block;width:70.33%;max-width:872px;padding-left:25px;box-sizing:border-box;-webkit-box-sizing:border-box;}
.text .title {padding-bottom:20px;color:#222;font-size:22px;font-weight:500;line-height:1.5em;letter-spacing:-1px;}
.text .title .date {padding:0 0 0 10px;color:#555;font-weight:normal;letter-spacing:0;}
.text .ny {display:-webkit-box;width:100%;height:50px;line-height:25px;letter-spacing:-0.8px;overflow:hidden;text-overflow:ellipsis;-webkit-box-orient:vertical;-webkit-line-clamp:2;}
.text .ny {height:auto;}
.text .detail_info {padding-top:25px;}
.text .detail_info li {position:relative;width:100%;padding-left:12px;letter-spacing:-0.8px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;box-sizing:border-box;}
.text .detail_info li:before {content:"";position:absolute;top:50%;left:0;width:4px;height:4px;margin-top:-2px;background:#726c6c;}
.text .detail_info li:not(:last-child) {margin-bottom:10px;}
  .slider{
    width: 450px;
    height:600px;
    position:absolute;
    margin-left:60px;
    margin-top:3%;
    overflow: hidden; /* 현재 슬라이드 오른쪽에 위치한 나머지 슬라이드 들이 보이지 않도록 가림 */
}
.slider input[type=radio]{
    display: none;
}
ul.imgs{
  box-sizing:border-box;
  max-width:100%;
  height:auto;
  padding: 0;
  margin: 0;
  list-style: none;    
}
ul.imgs li{
  max-width:100%;
  height:auto;
  position: absolute;
  left: auto;
  transition-delay: 1s; /* 새 슬라이드가 이동해 오는 동안 이전 슬라이드 이미지가 배경이 보이도록 지연 */
  padding: 0;
  margin: 0;
}
.bullets{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 20px;
  z-index: 2;
}
.bullets label{
  display: inline-block;
  border-radius: 50%;
  background-color: rgba(0,0,0,0.55);
  width: 20px;
  height: 20px;
  cursor: pointer;
}
/* 현재 선택된 불릿 배경 흰색으로 구분 표시 */
.slider input[type=radio]:nth-child(1):checked~.bullets>label:nth-child(1){
  background-color: #fff;
}
.slider input[type=radio]:nth-child(2):checked~.bullets>label:nth-child(2){
  background-color: #fff;
}
.slider input[type=radio]:nth-child(3):checked~.bullets>label:nth-child(3){
  background-color: #fff;
}
.slider input[type=radio]:nth-child(4):checked~.bullets>label:nth-child(4){
  background-color: #fff;
}
.slider input[type=radio]:nth-child(1):checked~ul.imgs>li:nth-child(1){
  left: 0;
  transition: 0.5s;
  z-index:1;
}
.slider input[type=radio]:nth-child(2):checked~ul.imgs>li:nth-child(2){
  left: 0;
  transition: 0.5s;
  z-index:1;
}
.slider input[type=radio]:nth-child(3):checked~ul.imgs>li:nth-child(3){
  left: 0;
  transition: 0.5s;
  z-index:1;
}
.slider input[type=radio]:nth-child(4):checked~ul.imgs>li:nth-child(4){
  left: 0;
  transition: 0.5s;
  z-index:1;
}