
*{padding:0;margin:0}
li{list-style:none}
a{text-decoration:none;font-size:14px}
.menu {
  width: 90%;
  overflow: hidden;
  margin: 30px auto;}
.menu > li {
  width: 20%; /*20*5=100%*/
  float: left;
  text-align: center;
  line-height: 40px;
  background-color: #5778ff;}
.menu a {
  color: #fff;}
.submenu > li {
  line-height: 50px;
  background-color: #94a9ff;}
.submenu {
  height: 0; /*ul의 높이를 안보이게 처리*/
  overflow: hidden;}
.menu > li:hover {
  background-color: #94a9ff;
  transition-duration: 0.5s;}
.menu > li:hover .submenu {
  height: 250px; /*서브메뉴 li한개의 높이 50*5*/
  transition-duration: 1s;}
  .list{
    width:750px;
    margin-left:0px;
    margin-top:0px;
    border-bottom: 1px solid #BBB9B9;
  }
#carouselExampleControls{
  width:90%;
  height: 300px;
  margin:auto;
}
.img {float:left;display:block;width:29.67%;max-width:328px;height:200px;padding-left:28px;box-sizing:border-box;-webkit-box-sizing:border-box;overflow:hidden;}
.text {display:inline-block;width:70.33%;max-width:872px;padding-left:25px;box-sizing:border-box;-webkit-box-sizing:border-box;}
.text .title {padding-bottom:20px;color:#222;font-size:22px;font-weight:500;line-height:1.5em;letter-spacing:-1px;}
.text .title .date {padding:0 0 0 10px;color:#555;font-weight:normal;letter-spacing:0;}
.text .ny {display:-webkit-box;width:100%;height:50px;line-height:25px;letter-spacing:-0.8px;overflow:hidden;text-overflow:ellipsis;-webkit-box-orient:vertical;-webkit-line-clamp:2;}
.text .ny {height:auto;}
.text .detail_info {padding-top:25px;}
.text .detail_info li {position:relative;width:100%;padding-left:12px;letter-spacing:-0.8px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;box-sizing:border-box;}
.text .detail_info li:before {content:"";position:absolute;top:50%;left:0;width:4px;height:4px;margin-top:-2px;background:#726c6c;}
.text .detail_info li:not(:last-child) {margin-bottom:10px;}
.line{
  display: flex;
  flex-basis: 100%;
  align-items: center;
  color:rgba(0, 0, 0, 0.25);
  font-size:16px;
  margin:16px 0px;
}
.line::before,
.line::after{
  content:"";
  flex-grow:1;
  margin:22px 10px;
  background:rgba(0, 0, 0, 0.25);
  height:1px;
  font-size:0px;
  line-height:0px;
}
.no-scroll {
  -ms-overflow-style: none; /* IE, Edge */
  scrollbar-width: none; /* Firefox */
}
.no-scroll::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}
@font-face {
  src: url("./font/HancomMalangMalang-Regular.ttf");
  font-family: "Malang-Regular";
}
@font-face {
  font-family: 'BBTreeGR';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_nine_@1.1/BBTreeGR.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
#wrap{
  min-height:0;
  position: relative;
  width:100%;
}
